Django==1.8.5
Pillow==3.0.0
amqp==1.4.9
anyjson==0.3.3
argparse==1.1
billiard==3.3.0.23
celery==3.1.23
django-celery-email==1.1.5
django-model-utils==2.3.1
django-tellme==0.6.2
future==0.15.2
kombu==3.0.37
oauthlib==1.1.1
psycopg2==2.6.1
pycrypto==2.6.1
python-dateutil==2.4.2
requests==2.10.0
sqlparse==0.1.16
unicodecsv==0.14.1
xlrd==1.0.0
xlwt==1.1.2